<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <embed src="https://drive.google.com/file/d/1HGn_7IEQYlgDvKnJbsdEOBhM6AbMnUK_/view?usp=sharing" width="500" height="375">
  </body>
</html>
