body {
  background-image: url('../images/anna-kolosyuk-551399-unsplash.jpg');
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 1325px;
}